<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2> Enregistrer un nouvel opérateur</h2>
        <form [formGroup]="operatorForm" (ngSubmit)="onSaveOperator()">
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="form-group">
                <label for="role">Rôle</label>
                <select id=role class="form-control" name="role" formControlName="role"> 
                    <option value="Attaquant">Attaquant</option>
                    <option value="Défenseur">Défenseur</option>
                </select>
            </div>
            <div class="form-group">
                <h4>Ajouter une photo</h4>
                <input type="file" (change)="detectFiles($event)" class="form-control" accept="image/*">
                <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
            </div>
            <button class="btn btn-success" 
            [disabled]="operatorForm.invalid || fileIsUploading"
            type="submit">Enregistrer</button>
        </form>
    </div>
</div>